<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div id = "header" th:fragment="head">
			<!-- Bootstrap CSS -->
		  <link href="css/bootstrap.min.css" rel="stylesheet">
		  <!-- bootstrap theme -->
		  <link href="css/bootstrap-theme.css" rel="stylesheet">
		  <!--external css-->
		  <!-- font icon -->
		  <link href="css/elegant-icons-style.css" rel="stylesheet" />
		  <link href="css/font-awesome.min.css" rel="stylesheet" />
		  <!-- Custom styles -->
		  <link href="css/style.css" rel="stylesheet">
		  <link href="css/style-responsive.css" rel="stylesheet" />
	
	</div>
	
</body>
</html>